In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)
soup = BeautifulSoup(page.text, 'html')

In [4]:
table = soup.find_all('table')[1]

In [5]:
world_title = table.find_all('th')

In [6]:
world_title

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Revenue <br/>(USD millions)
 </th>,
 <th>Revenue growth
 </th>,
 <th>Employees
 </th>,
 <th>Headquarters
 </th>]

In [7]:
world_table_title = [title.text.strip() for title in world_title]
print(world_table_title )

['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth', 'Employees', 'Headquarters']

In [8]:
world_table_title

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [9]:
df = pd.DataFrame(columns= world_table_title )
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

In [10]:
column_data = table.find_all('tr')

In [11]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    
    lenth = len(df)
    df.loc[lenth] = individual_row_data

In [12]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Rank                    100 non-null    object
 1   Name                    100 non-null    object
 2   Industry                100 non-null    object
 3   Revenue (USD millions)  100 non-null    object
 4   Revenue growth          100 non-null    object
 5   Employees               100 non-null    object
 6   Headquarters            100 non-null    object
dtypes: object(7)
memory usage: 6.2+ KB

In [14]:
table2 = soup.find_all('table')[3]
table2

<table class="wikitable sortable">
<caption>
</caption>
<tbody><tr>
<th>Rank
</th>
<th>Name
</th>
<th>Industry
</th>
<th>Profits<br/>(USD millions)
</th></tr>
<tr>
<td>1
</td>
<td><a href="/wiki/Apple_Inc." title="Apple Inc.">Apple</a>
</td>
<td>Electronics
</td>
<td style="text-align:center;">99,803
</td></tr>
<tr>
<td>2
</td>
<td><a href="/wiki/Microsoft" title="Microsoft">Microsoft</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">72,738
</td></tr>
<tr>
<td>3
</td>
<td><a href="/wiki/Alphabet_Inc." title="Alphabet Inc.">Alphabet</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">59,972
</td></tr>
<tr>
<td>4
</td>
<td><a href="/wiki/United_States_Postal_Service" title="United States Postal Service">United States Postal Service</a>
</td>
<td>Logistics
</td>
<td style="text-align:center;">56,046
</td></tr>
<tr>
<td>5
</td>
<td><a href="/wiki/ExxonMobil" title="ExxonMobil">ExxonMobil</a>
</td>
<td>Petroleum industry
</td>
<td style="text-align:center;">55,740
</td></tr>
<tr>
<td>6
</td>
<td><a href="/wiki/JPMorgan_Chase" title="JPMorgan Chase">JPMorgan Chase</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">37,676
</td></tr>
<tr>
<td>7
</td>
<td><a href="/wiki/Chevron_Corporation" title="Chevron Corporation">Chevron Corporation</a>
</td>
<td>Petroleum industry
</td>
<td style="text-align:center;">35,465
</td></tr>
<tr>
<td>8
</td>
<td><a href="/wiki/Pfizer" title="Pfizer">Pfizer</a>
</td>
<td>Pharmaceutical industry
</td>
<td style="text-align:center;">31,372
</td></tr>
<tr>
<td>9
</td>
<td><a href="/wiki/Bank_of_America" title="Bank of America">Bank of America</a>
</td>
<td>Financials
</td>
<td style="text-align:center;">27,528
</td></tr>
<tr>
<td>10
</td>
<td><a href="/wiki/Meta_Platforms" title="Meta Platforms">Meta Platforms</a>
</td>
<td>Technology
</td>
<td style="text-align:center;">23,200
</td></tr></tbody></table>

In [15]:
cp = table2.find_all('th')
cp

[<th>Rank
 </th>,
 <th>Name
 </th>,
 <th>Industry
 </th>,
 <th>Profits<br/>(USD millions)
 </th>]

In [16]:
co_profit = [c.text.strip() for c in cp]
co_profit

['Rank', 'Name', 'Industry', 'Profits(USD millions)']

In [17]:
df2 = pd.DataFrame(columns= co_profit)
df2

Empty DataFrame
Columns: [Rank, Name, Industry, Profits(USD millions)]
Index: []

In [18]:
dt = table2.find_all('tr')

In [19]:
for a in dt[1:]:
    data = a.find_all('td')
    final_data = [z.text.strip() for z in data]
    
    lenth = len(df2)
    df2.loc[lenth] = final_data

In [20]:
df2

,Rank,Name,Industry,Profits(USD millions)
0,1,Apple,Electronics,"99,803"
1,2,Microsoft,Technology,"72,738"
2,3,Alphabet,Technology,"59,972"
3,4,United States Postal Service,Logistics,"56,046"
4,5,ExxonMobil,Petroleum industry,"55,740"
5,6,JPMorgan Chase,Financials,"37,676"
6,7,Chevron Corporation,Petroleum industry,"35,465"
7,8,Pfizer,Pharmaceutical industry,"31,372"
8,9,Bank of America,Financials,"27,528"
9,10,Meta Platforms,Technology,"23,200"

In [21]:
df.to_csv(r'C:\Users\Usama\Desktop\projects for data analysis\companies.csv', index= False)

In [22]:
df2.to_csv(r'C:\Users\Usama\Desktop\projects for data analysis\companies_profit.csv', index= False)